<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBeanCl"
          class="ru.lukovtsev.springcourse.ClassicalMusic">
    </bean>
    
    <bean id="musicBeanR"
          class="ru.lukovtsev.springcourse.RockMusic">
    </bean>
    
    <bean id="musicBeanJ"
          class="ru.lukovtsev.springcourse.JazzMusic">
    </bean>

    <bean id="musicPlayer"
          class="ru.lukovtsev.springcourse.MusicPlayer"
          scope="prototype">
        <property name="music">
        	<list>
        		<ref bean ="musicBeanCl"/>
        		<ref bean ="musicBeanR"/>
        		<ref bean ="musicBeanJ"/>
        	</list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>